<!DOCTYPE html>
{% load static %}
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'css/linksiluminados.css' %}">
      

	  <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
	  <title>Misión y Visión</title>
    </head>

    <body bgColor="pink">
	<style>
body {
 font-family: 'Dekko';font-size: 22px;
}
</style>
	    
		<form>
		<div class="row">
		 <div class="input-field col s1">
		 </div>
		 <div class="input-field col s3">
		   <h1> <p style="color:#FF00CC;"> Misión </h1>
		 </div>
		 <div class="input-field col s1">
		 </div>
		 <div class="input-field col s5">
		   <h1> <p style="color:#7D3C98;"> Visión </h1>
		 </div>
		 </div>
		 <div class="row">
		 <div class="input-field col s1">
		   
		 </div>
		 <div class="input-field col s3">
		   <h6> <p style="color:#FF33FF;">Nuestra misión es entregar</h6></p> <br>
           <h6> <p style="color:#FF33FF;">un sitio en el cual se pueda</h6></p> <br>
           <h6> <p style="color:#FF33FF;">tener acceso a un variedad de </h6></p><br>
		   <h6> <p style="color:#FF33FF;">maquillaje a bajos </h6></p><br>
		   <h6> <p style="color:#FF33FF;">precios </h6></p>
		 </div>
		 <div class="input-field col s1">
		   
		 </div>
		 <div class="input-field col s3">
		   <h6> <p style="color:#7D3C98;">Ser la empresa de maquillaje</h6></p> <br>
           <h6> <p style="color:#7D3C98;">número 1 del mercado</h6></p> <br>
           <h6> <p style="color:#7D3C98;">y poder vender </h6></p><br>
		   <h6> <p style="color:#7D3C98;">maquillaje a bajos </h6></p><br>
		   <h6> <p style="color:#7D3C98;">precios para todos </h6></p>
		   
		 </div>
		 <div class="input-field col s4">
		 <a href="index.html"style="color:#AF7AC5;" >Volver al Menu Principal</a>
		  <img src="{% static 'img/c.gif' %}">
		  
		 </div>
		 </div>
		 
		   
		 
		  
		</form>
	
	
	

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	  
    </body>
  </html>