<!DOCTYPE html>
{% load pwa %}
{% load static %}
<html lang="en",>
    <head>
            {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <title>Productos</title>

        <link rel="stylesheet" href="{% static 'css/EstilosProductos.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/linksiluminados.css' %}">
    </head>
    <body bgcolor="pink" onload="miFuncion();">
        <header>
            <cemter><h1>Productos de Maquillaje</h1></cemter>
          </header>
          <nav>
              <ul>
                    <a href="index.html"style="color:#AF7AC5;" >Volver al Menu Principal</a>
              </ul>
            </nav>
      {% for c in object_list %}

                
                
                
       
          <blockquote>Nombre: {{ c.nombre }}</blockquote>
          <blockquote>Precio: ${{ c.precio }}</blockquote>
          <blockquote>Stock: {{ c.stock }}</blockquote>
          <img src="{{MEDIA_URL}}{{c.foto.url }}" /> <br>
       
   {% endfor %}   
    
   <script>
		function miFuncion() {
			console.log("WSAD: " + navigator.onLine);
				if (navigator.onLine == false) {
					console.log("offline");
					if (Notification.permission === "granted") {
						navigator.serviceWorker.getRegistration()
							.then(function (reg) {
								var opciones = {
									body: 'La página PRODUCTOS se encuetra en modo offline',
									vibrate: [100, 50, 100]
								}
								reg.showNotification('Modo Offline', opciones);
							});
					}
				}
				else{
					console.log("online");
				}
			}
	</script>
    
    
    </body>
</html>